@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url('../images/obsidian.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
section{
    height: 100vh;
    width: 1170px;
    background-color: rgba(165, 169, 153, 0.402);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(127, 130, 118, 0.708);
}
li{
    float: left;
}
li a{
    display: block;
    color: rgba(30,25,26,255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.sticky{
    position: fixed;
    top: 0;
    width: 1170px;
}
img{
    margin-top: 35px;
}

