@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url('../images/obsidian3cropped.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
section{
    
    width: 1170px;
    background-color: rgba(165, 169, 153, 0.63);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(127, 130, 118, 0.708);
}
li{
    float: left;
}
li a{
    display: block;
    color: rgba(30,25,26,255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
li a:hover{
    background-color: rgba(91, 93, 85, 0.491);
}
.sticky{
    position: fixed;
    top: 0;
    width: 1170px;
}
img{
    margin-top: 35px;
}
.lastAlbumBtn, .buyBtn{
    background-color: black;
    font-family: 'Roboto',sans-serif;
    margin-top: 50px;
    font-size: 24px;
    height: 54px;
    margin-bottom: 50px;
}
.lastAlbumBtn:hover,.buyBtn:hover{
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.347);
    cursor: pointer;
}
.lastAlbumBtn{
    color: #ccc8c3;
    width: 500px;
}
.buyBtn{
    color: #f6ead4;
    width: 180px;
}
h1{
    text-align: left;
    color:black ;
    font-family: 'Roboto',sans-serif;
    margin-left: 20px;
}
.track{
    text-decoration: underline;
    color: black;
}
.date,.local,.city{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 25px;
    border-top: 1px solid black;
}
.tableBtn{
    border-top: 1px solid black;
}
.tableBtn1,.tableBtn2{
    height: 46px;
    width: 150px;
    font-weight: 800;
}
.tableBtn1{
    background-color: rgba(165, 169, 153, 0.63);
    border: 1px solid #f6ead4;
    margin-right: 10px;
    color: black;
}
.tableBtn2{
    margin-right: 15px;
    background-color: #f6ead4;
    border: none;
}
.local{
    width: 850px;
    text-align: left;
}
table{
    margin-left: 20px;
    font-weight: 500;
    border-collapse: collapse;
}
caption{
    text-align: left;
    margin-left: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Roboto',sans-serif;
}
.showAll{
    font-family: 'Roboto',sans-serif;
    background-color:rgba(165, 169, 153, 0.63) ;
    border:1px solid #f6ead4;
    font-size: 20px;
    font-weight: 800;
    height: 46px;
    width: 1145px;
}

